
.btn-navbar {
    border: none;
}

.myBRAND {
    padding-right: 1em;
}

.container {
    padding-top:6em;
}

.logo_form {
    width: 15%;
    background-color: coral;
    padding: 1em;
    border-radius: 10px;
}

.required{
    color: crimson;
    padding-left: 0.3em;
}

.pswd{
    color: gray();
    font-size: 0.8em;
    font-style: italic;
}

.form-sublink {
    display: inline-block !important;
    float: right;
    color: #838E95;
    font-size: 12px;
    margin-top: .3rem;
}

.text-gray-soft{
    padding-top: 1em;
}